/* =====================
   Overall Styles
   ===================== */

/* Variables */
:root {
  --primary: #191538; /* your base */
  --accent: #6c63ff; /* soft violet */
  --highlight: #b8b5ff; /* lavender */
  --text: #edebff; /* off-white */
  --muted: #8c8aae;
}

body {
  background-color: var(--primary);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--text);
  text-align: center;
}

p {
  color: var(--text);
  text-align: center;
}

button {
  background-color: var(--highlight);
  padding: 10px 20px;
  border: none;
  margin: 0% 48%;
}

/* =====================
   Nav Bar
   ===================== */

nav{
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: var(--text);
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--accent);
  color: var(--text)
}


